<div id="images">
  <%= content_for(:title) do%>
      Ref: <%= @search.registration%>
  <% end %>
  <% (0..11).each do |index| %>
      <%= link_to @search.fetch_images(params[:ref])[index+12], {'data-lightbox': 'lightbox'} do %>
      <%=  image_tag @search.fetch_images(params[:ref])[index], alt: 'Car Image', class: "picture", width: 170 %>

  <% end %>
  <% end %>


</div>