/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
  *= require_self
 *= require lightbox
 *= require_tree .
 */

body {
    background-color: #fffffd;
    margin: 0px;
    font-family: "Gotham A", "Gotham B", Gotham, Verdana, sans-serif;
    font-size: 13px;
    -webkit-text-size-adjust: none;
    min-height: 100%;
    font-weight: 400;
}


h1 {
    text-align: center;
}

form {
    padding: 36px 5% 36px 5%;
}
.myButton {
    -moz-box-shadow: 0px 1px 0px 0px #fff6af;
    -webkit-box-shadow: 0px 1px 0px 0px #fff6af;
    box-shadow: 0px 1px 0px 0px #fff6af;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
    background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
    background-color:#ffec64;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #ffaa22;
    display:inline-block;
    cursor:pointer;
    color:#333333;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffee66;
}
.myButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
    background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
    background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
    background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
    background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
    background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
    background-color:#ffab23;
}
.myButton:active {
    position:relative;
    top:1px;
}

.fields {
    padding: 5px;
    align: right;
}

label {
    padding: 10px;
    text-align: right;
}

input {
    margin-left: 15px;
    margin-right: 10px;
}

@media screen and (max-width: 480px) {
    img {
        width: 80%;
    }
    input[type=submit] {
        -webkit-appearance: none;
        height: 4em;
    }
}

.header {
    padding: 10px 0 6px 0;
    width: 50%;
    margin: 0 50%;
    min-height: 55px;
    border-top: 1px solid #2E3838;
    border-bottom: 6px solid #FEDF02;
    background: #FEDF02;
    color: #EEE;
}

.header .x {
    text-align: left;
    width: 100%;
    margin: 0 auto ;
    padding: 0;
    position: relative ;
}



.content {
    padding: 20px 20% 36px 20%;
}

.footer {
    color: #EEE;
    width: 50%;
    background-color: #2D3737;
    padding: auto;
    overflow: hidden;
    margin: 10px  0 0;
    text-align: left;
}

.footer a {
    color: #eee;
}



.footer .author {
    background-color: #2A3131;
    padding: 18px;
    /*font-size: 2vw;*/
}

#images {
    margin: 2px;
    background-color: #2A3145;
}

.picture {
    margin: 2px;
    background-color: #2A3131;
}
